.Main{
  position: relative;
  right:0px;
  background: linear-gradient(135deg, #e0f7fa 0%, #e3f2fd 100%);
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   }
   /* Container Styling */
   .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline-width: 1.5px;
   
    width: fit-content; /* Container expands based on its content */
    max-width:max-content; /* Maximum width for the container */
    min-width: 300px; /* Minimum width */
    height: auto; /* Height adjusts based on content */
    position: relative;
    margin: 90px auto; /* Center the container horizontally */
    left: 0; /* Start at the left edge */
    padding-right: fit-content; /* Add padding to the right */
    border: none;    
  }
  /* Navigation Styling */
  .Navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%; /* Full width for navigation */
    position: relative;
    margin-top: 60px;
    left: 0px;
  }
  